.back-to-top {
  position: fixed;
  bottom: -60px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, bottom 0.3s;
}

.back-to-top:hover {
  background-color: #0056b3;
}

