<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <h1>Pneumonia Detection</h1>
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
        <button type="button" onclick="uploadAndPredict()">Upload and Predict</button>
    </form>

    <div id="predictionResult">
        <h2 id="predictionText"></h2>
        <img id="uploadedImage" alt="Uploaded Image" width=500px height=600px>
    </div>

    <script src="assets/script.js"></script>
</body>
</html>